- agregar colulmna habilitado/deshabilitado.
- agregar subir/bajar excel para boxes
- box por id. el box es el número que está pegado en el estante y el ID es el físico.
- que no se rompa cuando no hay tamaños
- se superponen las tablas con el perfil.
- que diga que es cuando se pare arriba del icono. icono de descargar xlsx al revés. agregar shownotificacion de que se descargó
- arreglar locker (/configuración)
- agregar editar logo
- mostrar shownotification al guardar config



servidor:
- crud empresas
- en lockers armar pestañas, conectado/desconectado o asignado/no asignado a una empresa
- crear token para que la empresa mande las peticiones a la api (no token de box)
- hosting!!!!