@page "/AddLocker"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config config
@using DCMLockerServidor.Shared


<h3>AddLocker</h3>

<div class="form-group">
    <label><strong>IpLocker</strong></label>
    <p>dale capo string.</p>
    <input type="text" @bind="locker.IpLocker" class="form-control form-control-user" />
</div>
<div class="form-group">
    <label><strong>NumeroCorrespondiente</strong></label>
    <p>dale capo num.</p>
    <input type="number" @bind="locker.NumeroCorrespondiente" class="form-control form-control-user" />
</div>
<div class="form-group">
    <label><strong>IdServer</strong></label>
    <p>dale capo num.</p>
    <input type="number" @bind="locker.IdServer" class="form-control form-control-user" />
</div>
<br />
<button type="button" class="btn btn-primary btn-user btn-block" @onclick="(() => Save())">Mandar</button>

@code {
    Locker locker = new("",0,0);

    async Task Save()
    {
        var orta = await config.AgregarLocker(locker);
        Console.WriteLine("todo saved");
        Console.WriteLine(orta);
        NavigationManager.NavigateTo("/");
    }

}
