@page "/empresas/{id:int}"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config config
@using DCMLockerServidor.Shared

<h1>Agregar lockers a empresa</h1>

@code {

}
