@page "/AddLockerToken"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config config
@using DCMLockerServidor.Shared


<h3>AddLockerToken</h3>
@if (listaDeLockers != null)
{
    <RadzenDropDown @bind-Value=@locker Data=@listaDeLockers TValue="ServerStatus">
        <Template Context="context">
            @((context as ServerStatus).NroSerie) 
        </Template>
    </RadzenDropDown>
   
}

<div class="form-group">
    <label><strong>Token</strong></label>
    <input type="text" @bind-value=@token class="form-control form-control-user" />
</div>
<div class="form-group">
    <label><strong>Box</strong></label>
    <input type="text" @bind-value=@box class="form-control form-control-user" />
</div>


<button type="button" class="btn btn-primary btn-user btn-block" @onclick="(() => Save())">Mandar</button>

@code {
    List<ServerStatus> listaDeLockers;
    string token;
    string box;
    ServerStatus locker;

    protected override async Task OnInitializedAsync()
    {
        listaDeLockers = await config.GetListaDeLockers();
    }

    async Task Save()
    {
        LockerToken lockerToken = new(locker,token,box);
        var orta = await config.AgregarLockerToken(lockerToken);

        NavigationManager.NavigateTo("/token");
    }

}
