@page "/info/{NroSerie}"
@using DCMLockerServidor.Shared;
@inject DCMLockerServidor.Client.Cliente.Config config
@inject NavigationManager NavigationManager

<div style="display: flex; justify-content: right;">
    <button type="button" @onclick="BotonAtras" class="btn btn-outline-info" title="Volver"><FeatherArrowLeft Color="blue" /></button>
</div>
<br />

@if (locker != null && locker.Locker != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="25"
                        AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" EmptyText="No hay boxes asignados."
                        Data="@locker.Locker" TItem="TLockerMapDTO" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="TLockerMapDTO" Property="Id" Title="Id" />
                <RadzenDataGridColumn TItem="TLockerMapDTO" Property="Size" Title="Tamaño" />
                <RadzenDataGridColumn TItem="TLockerMapDTO" Title="Puerta">
                    <Template Context="data">
                        @if (data.Puerta)
                        {
                            <FeatherLock Color="black"></FeatherLock>
                        }
                        else
                        {
                            <FeatherUnlock Color="black"></FeatherUnlock>
                        }
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="TLockerMapDTO" Title="Ocupación">
                    <Template Context="data">
                        @if (data.Ocupacion)
                        {
                            <FeatherBriefcase Color="black"></FeatherBriefcase>
                        }
                       
                    </Template>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
    </div>
}
else
{
    <a>no hay boxes</a>
}

@code {

    [Parameter] public string NroSerie { get; set; }
    private HubConnection hubConnection;
    ServerStatus locker;

    protected override async Task OnInitializedAsync()
    {
        locker = await config.GetLocker(NroSerie);

        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/serverhub"))
        .Build();

        hubConnection.On("UpdateLockerList", async () =>
        {
            await Update();
        });

        await hubConnection.StartAsync();

    }

    async Task Update()
    {
        locker = await config.GetLocker(NroSerie);
        StateHasChanged();
    }

    void BotonAtras()
    {
        NavigationManager.NavigateTo("/locker");
    }

}
