@page "/info/{id}"
@using DCMLockerServidor.Shared;
@inject DCMLockerServidor.Client.Cliente.Config config
@inject NavigationManager NavigationManager

<div style="display: flex; justify-content: right;">
    <button type="button" @onclick="BotonAtras" class="btn btn-outline-info" title="Volver"><FeatherArrowLeft Color="blue" /></button>
</div>
<br/>

@if (locker != null && locker.Locker != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="25"
                    AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" EmptyText="No hay boxes asignados."
                    Data="@locker.Locker" TItem="TLockerMap" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="TLockerMap" Property="Id" Title="Id" />
                <RadzenDataGridColumn TItem="TLockerMap" Property="Size" Title="Tamaño" />
                <RadzenDataGridColumn TItem="TLockerMap" Property="IsSensorPresent" Title="Sensor" />
            </Columns>
        </RadzenDataGrid>
    </div>
}
else
{
    <a>no hay boxes</a>
}

@code {

    [Parameter] public string id { get; set; }
    private HubConnection hubConnection;
    List<ServerStatus> listaDeLockers;
    ServerStatus locker;

    protected override async Task OnInitializedAsync()
    {
        //HACER GET POR NUMERO DE SERIE, ESTO ES PROVISORIO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DESDE BACKEND.
        listaDeLockers = await config.GetListaDeLockers();
        if (listaDeLockers != null) locker = listaDeLockers.Where(x => x.NroSerie == id).First();

        hubConnection = new HubConnectionBuilder()
        .WithUrl(NavigationManager.ToAbsoluteUri("/serverhub"))
        .Build();

        hubConnection.On("UpdateLockerList", async () =>
        {
            listaDeLockers = await config.GetListaDeLockers();
            if (listaDeLockers != null) locker = listaDeLockers.Where(x => x.NroSerie == id).First();

            StateHasChanged();
        });

        await hubConnection.StartAsync();

    }

    void BotonAtras()
    {
        NavigationManager.NavigateTo("/locker");
    }

}
