@page "/token"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config config
@using DCMLockerServidor.Shared



@if (listaDeLockersToken != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="8"
                    AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" EmptyText="No hay tokens creados."
                    Data="@listaDeLockersToken" TItem="LockerToken" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="LockerToken" Title="Locker">
                    <Template Context="data">
                        <a>@data.Locker.NroSerie</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="LockerToken" Property="Token" Title="Token" />
                <RadzenDataGridColumn TItem="LockerToken" Property="FechaInicio" Title="Fecha de inicio" />
                <RadzenDataGridColumn TItem="LockerToken" Property="FechaFin" Title="Fecha de fin" />
                <RadzenDataGridColumn TItem="LockerToken" Property="Modo" Title="Modo" />
                <RadzenDataGridColumn TItem="LockerToken" Property="Box" Title="Box" />
                <RadzenDataGridColumn TItem="LockerToken" Property="Contador" Title="Cantidad">
                    <Template Context="data">
                        @if(data.Modo == "Por fecha")
                        {
                            <a>N</a>
                        }
                        else
                        {
                            <a>@data.Contador</a>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="LockerToken" Title="Eliminar">
                    <Template Context="data">
                        <button class="btn" title="Eliminar" @onclick="() => deleteToken(data)"><FeatherTrash2 Color="red" /></button>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
}
<br />
<button type="button" class="btn btn-primary btn-user btn-block" @onclick="@(() => NavigationManager.NavigateTo("/AddLockerToken"))">Agregar</button>




@code {
    List<LockerToken> listaDeLockersToken;

    protected override async Task OnInitializedAsync()
    {
        listaDeLockersToken = await config.GetListaDeLockersToken();
    }

    public async Task deleteToken(LockerToken locker)
    {
        var rta = await config.DeleteLockerToken(locker);
        if (rta)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Éxito", Detail = "El token fue borrado con éxito.", Duration = 1500 });
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = "No se pudo borrar el token.", Duration = 4000 });

        }
        await OnInitializedAsync();
        StateHasChanged();

    }
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

}



