<style>
    #texto{
  display: inline-block;
  vertical-align: top;
}
</style>
<div>
<img  style="float:left;width:30vh;" src="/img/Logo1.png" />&nbsp;&nbsp;
  <p id="texto">
      Versión 3.3.4
      <br />
      Fecha: 22 de octubre de 2024
      <br />
      Bicampeones de América
  </p>
  </div>

  <br />
  <br />
  <br />
  <br />
  <p>
  Licencia: Evaluación
  <br />
  <br />
  Copyright © 2024 Lockers Inteligentes DCM Solution S.A.
  </p>
