@page "/subirtxttamaños"
@attribute [Authorize]

<h1>Cargar tamaños</h1>

<InputFile OnChange="@OnInputFileChange" multiple><FeatherUpload Color="Black"></FeatherUpload></InputFile>
<button style="outline:none;height:100%;" class="btn btn-outline" @onclick="() => alertaUpload()"><FeatherUpload Color="Black"></FeatherUpload></button>


@code {

    MultipartFormDataContent content = new MultipartFormDataContent();

    protected override async Task OnInitializedAsync()
    {
        var listaDeTamaños = await config.GetSizes();
        if (listaDeTamaños.Count() > 0) nav.NavigateTo("/tamaños");
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        content = new();
        long maxFileSize = 1024 * 1500000;

        foreach (var file in e.GetMultipleFiles(1))
        {
            try
            {
                var fileContent =
                    new StreamContent(file.OpenReadStream(maxFileSize));

                content.Add(
                    content: fileContent,
                    name: "\"files\"",
                    fileName: file.Name
                );
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }

    }

    public async Task alertaUpload()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Actualizará la lista de tamaños completamente",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Subir",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await UploadTxtSizes();
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    private async Task UploadTxtSizes()
    {
        var sizesList = await GetSizesFromFileAsync();
        if (sizesList.Count() > 0)
        {
            await config.AddListSizes(sizesList);
            nav.NavigateTo("/tamaños");
        }
    }

    public async Task<List<Size>> GetSizesFromFileAsync()
    {
        // Read the content from the file in the MultipartFormDataContent
        foreach (var cont in content)
        {
            if (cont.Headers.ContentDisposition != null &&
                cont.Headers.ContentDisposition.DispositionType.Equals("form-data") &&
                cont.Headers.ContentDisposition.Name == "\"files\"")
            {
                var stream = await cont.ReadAsStreamAsync();
                using (StreamReader reader = new StreamReader(stream))
                {
                    string fileContent = await reader.ReadToEndAsync();
                    List<Size> sizes = JsonSerializer.Deserialize<List<Size>>(fileContent);
                    return sizes;
                }
            }
        }

        return new List<Size>();
    }

}
