@page "/subirtxttamaños"
@using Microsoft.AspNetCore.Components.Forms
@inject HttpClient _http
@attribute [Authorize]

<h1>Cargar Sizes</h1>

<InputFile OnChange="@OnInputFileChange" multiple><FeatherUpload Color="Black"></FeatherUpload></InputFile>
<button style="outline:none;height:100%;" class="btn btn-outline" @onclick="() => alertaUpload()"><FeatherUpload Color="Black"></FeatherUpload></button>


@code {

    MultipartFormDataContent content = new MultipartFormDataContent();

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        content = new();
        long maxFileSize = 1024 * 1500000;

        foreach (var file in e.GetMultipleFiles(1))
        {
            try
            {
                var fileContent =
                    new StreamContent(file.OpenReadStream(maxFileSize));

                content.Add(
                    content: fileContent,
                    name: "\"files\"",
                    fileName: file.Name
                );
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }

    }

    public async Task alertaUpload()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Está seguro?",
                Text = "Actualizará la lista de Sizes completamente",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Subir",
                CancelButtonText = "Cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await UploadTxtSizes();
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {

        }
    }

    private async Task UploadTxtSizes()
    {
        var response = await _http.PostAsync($"/system/filesave", content);
        nav.NavigateTo("/tamaños");
    }

}
